:root {
  --default-box: gray;
  --finished-box: darkgreen;
}
.yellow-tasks {
  --default-box: rgb(170, 170, 0);
}
.purple-tasks {
  --default-box: purple;
}
.orange-tasks {
  --finished-box: orange;
}
.blue-tasks {
  --finished-box: blue;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(20, 20, 20);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 1.5em;
  font-family: Helvetica;
}
.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8em;
}
.display-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 3;
  max-width: 100%;
}
.align-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}
#input-field2 {
  height: 100px;
  text-align: left;
  box-sizing: border-box;
}
.align-left button {
  margin: 5px;
}
.create-task-div, .settings-div {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.data-req {
  display: flex;
  flex-direction: column;
}


#task-list, #finished-tasks {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  overflow-x: auto;
  min-height: 250px;
  max-height: 80vh;
  flex: 2;
  overflow: hidden;
}
#task-list h4, #finished-tasks h4 {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid black;
}
.task-container {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px; /* height is set in main.js */
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.task-title {
  flex: 0.5;
}
.task-desc {
  flex: 4;
  max-height: auto;
  overflow: hidden;
}
.task-button {
  background-color: transparent;
  border: none;
  flex: 0.8;
  cursor: pointer;
}
.task-button:hover {
  transform: scale(1.08);
}
.task-finish {
  display: flex;
  justify-content: flex-end;
}
.task-remove {
  display: flex;
  justify-content: flex-start;
}

#finished-tasks {
  /* display: none; */
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

/* The switch - the box around the slider */
.switch-btn {
  margin-bottom: 5px;
  margin-top: 5px;
}
.switch-btn span {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3.2px;
  bottom: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.right-arrow, .left-arrow {
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}