:root {
  --default-box: gray;
  --finished-box: darkgreen;
}
.yellow-tasks {
  --default-box: rgb(170, 170, 0);
}
.purple-tasks {
  --default-box: purple;
}
.orange-tasks {
  --finished-box: orange;
}
.blue-tasks {
  --finished-box: blue;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Helvetica;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}
#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#close-sett {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  z-index: 100;
  left: 10em;
  top: 1.5em;
  cursor: pointer;
}
#close-sett:hover {
  border-color: rgb(83, 83, 83);
  background-color: rgba(83, 83, 83, 0.3);
}
#close-sett p {
  margin: 0;
  line-height: 0.2em;
  font-size: 2.7em;
  border-radius: 30px;
  pointer-events: none;
}
nav {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  gap: 1.2em;
}


#all-task-cont {
  backdrop-filter: blur(10px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 3;
  min-height: 100%;
  width: 100vw;
}
.display-row {
  display: flex;
  flex-direction: row;
}
.display-column {
  display: flex;
  flex-direction: column;
}
.align-left {
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100vh;
  max-width: 300px;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1.1em;
}
.align-left.open {
  opacity: 1;
  visibility: visible; /* Makes it interactive when visible */
  transform: translateX(0); /* Slide into view */
}

.align-left h1, .align-left h3 {
  margin-bottom: 0.2em;
}
.align-left button {
  margin: 5px;
}
.settings-div {
  display: flex;
  flex-direction: column;
}



#add-task {
  height: 200px;
  width: 80px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(119, 119, 119, 0.3);
  cursor: pointer;
  margin-left: 1.2em;
  transition: background-color 0.3s ease;
}
#add-task:hover {
  background-color: rgba(119, 119, 119, 0.7);
}
.create-task-div {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 6;
  background-color: gray;
  border: 1px solid darkgray;
}
.create-task-div h1 {
  margin-bottom: 0;
}
#h1-span-close h1, #h1-span-close span {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#h1-span-close span {
  position: relative;
  left: 130%;
  font-size: 1.3em;
  cursor: pointer;
}
#create-task {
  margin-top: 1em;
}
#input-field {
  max-width: 300px;
}
#input-field2 {
  height: 100px;
  max-width: 300px;
  text-align: left;
  box-sizing: border-box;
}


#task-list, #finished-tasks {
  display: flex;
  flex-direction: row;
  gap: 1.3em;
  overflow-x: auto;
  min-height: 250px;
  max-width: 1500px;
  overflow: hidden;
  margin-left: 3px;
  flex-grow: 0.5;
}
#task-list h4, #finished-tasks h4 {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid black;
}
.task-container {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px; /* height is set in main.js */
  display: flex;
  flex-direction: column;
}
.task-title {
  flex: 0.5;
}
.task-desc {
  flex: 4;
  max-height: auto;
  overflow: hidden;
}
.task-button {
  background-color: transparent;
  border: none;
  flex: 0.8;
  cursor: pointer;
}
.task-button:hover {
  transform: scale(1.3);
}
.task-finish {
  display: flex;
  justify-content: flex-end;
}
.task-remove {
  display: flex;
  justify-content: flex-start;
}
#added-display-row, #finished-display-row {
  gap: 3em;
  align-items: center;
}

/* The switch - the box around the slider */
.switch-btn {
  margin-bottom: 5px;
  margin-top: 5px;
}
.switch-btn span {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3.2px;
  bottom: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.disable-ani {
  display: flex;
  flex-direction: row;
}

.right-arrow, .left-arrow {
  font-size: 24px;
  height:  24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.data-req {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#download-data, #upload-data {
  width: 14em;
  padding: 0;
  margin: 1em 0;
}